:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}

.main{
    padding-top: 1rem;
    width: 100%;

    .secTitle{
        span{
            margin-right: 1rem;
            font-size: 15px;
            color: var(--textColor);
            cursor: pointer;

            &:hover{
                color: var(--SecondaryColor);
            }
        }
    }


    .secContent{
        justify-content: center;
        gap: 1.5rem;

        .slick-slide > div { /* Sử dụng > div để chỉ áp dụng style cho div trực tiếp bên trong .slick-slide */
            margin: 0 10px; /* Tạo khoảng cách giữa các slide */
        }

        .boxs-slider li.slick-active>.dots {
            width: 1.75rem;
            border-radius: .375rem;
            --tw-bg-opacity: 1;
            background-color: rgb(239 82 34 / var(--tw-bg-opacity));
        }

        .slick-dots{
            li{
                // display: none;
                margin: 0 5px;

                button{
                    font-size: 0; /* Ẩn text trong button */
                    width: 10px; /* Điều chỉnh kích thước của các dots (nếu cần) */
                    height: 10px;
                    border-radius: 50%; /* Tạo dots thành hình tròn */
                    background-color: #CCC;
                }
            }

            li button:before{
                font-size: 0;
            }

            li.slick-active button {
                background-color: #000;
            }
        }

        .singleNews{
            height: 100%;
            display: grid;
            row-gap: 10px;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140,140, 141, 0.549);
            overflow: hidden;
            
            
            &:hover{
                background: var(--cardHover);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3s ease;
            }

            .imageDiv{
                height: 180px;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }

                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }

            .contentNews{
                padding: .5rem;

                p{
                    font-size: 18px;
                }

                .moreInfo{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1rem;
                    cursor: pointer;

                    span{
                        font-size: .875rem !important;
                        color: var(--textColor);
                    }
                    
                    .viewDetail{
                        color: var(--blackColor);
                        transition: .3s ease-in-out;

                        .icon{
                            font-size: .875rem;
                            margin-left: .25rem;
                        }

                        &:hover{
                            color: var(--PrimaryColor);
                            transform: translateX(7px);

                            .icon, span{
                                color: var(--SecondaryColor);
                            }
                        }
                    }
                }
            }
        }
    }
}