@use "../variables.scss";

body {
  background-color: var(--whiteColor);
}

.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 106, 127, 0.6);
    mix-blend-mode: hard-light;
    z-index: 1;
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .homeContent {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    padding: 4rem 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: stretch;
    color: var(--whiteColor);
    margin: auto;

    .headerText {
      text-align: center;
      padding-bottom: 1rem;

      .homeTitle {
        font-size: 3rem;
        font-weight: 700;
      }
    }

    .homeFooterIcons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcons,
      .utilityIcons {
        display: flex;
        gap: 1rem;
      }

      .icon {
        font-size: 1.25rem; // 20px
        color: var(--whiteColor);
        transition: color 0.3s ease;

        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }
  }
}

.main {
  width: 100%;

  .secTitle {
    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 1rem 0;
      z-index: 2;
      margin-inline: auto;

      &::after {
        position: absolute;
        content: "";
        // background: var(--SecondaryColor);
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
      }
    }
  }

  .secContent {
    justify-content: center;
    gap: 1.5rem;
  }
}

// MEDIA QUERIES ============================
@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
    &::after {
      width: 155px !important;
    }
  }

  .secContent {
    grid-template-columns: repeat(2, 1fr);

    .routeCard {
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .secContent {
    grid-template-columns: repeat(3, 1fr);

    .routeCard {
      height: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    .homeContent {
      .cardDiv {
        // grid-template-columns: repeat(2,1fr);
        .changedes {
          margin-top: 0;
          rotate: 90deg;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    .homeContent {
      .cardDiv {
        .searchOption {
          bottom: -1.35rem;
          padding: 6px 1rem;

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .homeContent {
      .cardDiv {
        .searchOption {
          bottom: -1.35rem;
          padding: 6px 1rem;

          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .home {
    .homeContent {
      .cardDiv {
        .sizeOne {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(3, 1fr);
        }
        .sizeTwo {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(4, 1fr);
        }
        .searchOption {
          bottom: -1.35rem;
          padding: 6px 1rem;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .home {
    height: auto;

    .homeContent {
      padding-left: 0;
      padding-right: 0;

      .cardDiv {
        padding: 2rem 1rem;
        // grid-template-columns: repeat(3,1fr);
        justify-content: center;
        .input {
          margin-bottom: 1rem;
        }
        .sizeOne {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(3, 1fr);
        }
        .sizeTwo {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(4, 1fr);
        }

        .searchOption {
          bottom: -1.5rem;
          padding: 8px 1rem;

          span {
            font-size: 17px;
          }
        }
      }
    }
  }
}
