:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;

  .paySuccess {
    width: 100%;
    height: auto;

    .imgsucces {
      width: 100%;
      display: flex;
      justify-content: center;
      .icon {
        color: #04aa6d;
        font-size: 8rem;
        display: flex;
        justify-content: center;
      }
    }
    .content {
      text-align: center;
      padding: 1rem;
      .titlePay {
        color: #04aa6d;
        font-size: 40px;
        font-weight: 600;
      }
      .text {
        font-size: 20px;
      }
    }
    .detailbooking {
      width: 100%;
      height: auto;
      border: 1px solid var(--greyText);
      border-radius: 1rem;
      background: #80808059;
      .title {
        padding: 0.5rem 0;
        text-align: center;
        color: var(--blackColor);
        font-size: 20px;
        font-weight: bold;
      }
      .info {
        background: var(--whiteColor);
        padding-inline: 1rem;
        .infoBooking {
          display: flex;
          line-height: 2rem;
          .userInfo {
            width: 50%;
            .userline {
              display: flex;
              .titleuser {
                width: 30%;
              }
              .text {
                color: var(--blackColor);
              }
            }
          }
          .PayInfo {
            float: left;
            width: 50%;
            .payline {
              display: flex;
              .titlepay {
                width: 40%;
              }
              .text {
                color: var(--blackColor);
              }
            }
          }
        }
      }
      .devide {
        width: 100%;
        background-color: var(--greyText);
        height: 1px;
      }
      .infoTicket {
        background: var(--whiteColor);
        display: flex;
        justify-content: center;
        padding: 2rem;
        .detailBoooking {
          display: flex;
          gap: 1rem;
          .infoBookingTicket {
            width: 20rem;
            background: var(--whiteColor);
            border-radius: 1rem;
            border: 1px solid var(--greyText);
            padding: 1rem 1rem;
            h3 {
              color: var(--blackColor);
              text-align: center;
            }
            .lineInfo {
              display: flex;
              justify-content: space-between;
              line-height: 3rem;
              .rightInfo {
                height: 2.5rem;
                span {
                  padding-left: 1rem;
                  padding-bottom: 0.5rem;
                  color: var(--blackColor);
                }
              }
              .seatInfo {
                gap: 1rem;
                span {
                  background: rgb(220, 231, 71);
                  font-weight: bolder;
                  padding: 0.2rem;
                }
              }
              .Note {
                height: 2.5rem;
                background: var(--whiteColor);
                border-radius: 0.5rem;
                padding-left: 1rem;
                border: 1px solid var(--greyText);
                outline: none;
              }
              .selectChoose {
                select {
                  width: 10rem;
                  height: 2.5rem;
                  background: var(--whiteColor);
                  border-radius: 0.5rem;
                  padding-left: 1rem;
                  border: 1px solid var(--greyText);
                  outline: none;
                }
              }
            }

            .policyCheckbox {
              width: 100%;
              margin-top: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              .checkBox {
                display: flex;
                align-items: center;
                .checkbox-input {
                  width: 20px;
                  height: 20px;
                  border: 1px solid var(--greyText);
                }
              }
            }
            .buttonList {
              padding-top: 2rem;
              display: flex;
              margin-inline: auto;
              justify-content: center;
              gap: 2rem;
              .btn {
                border-radius: 0.5rem;
                font-weight: 600;
                color: var(--whiteColor);
              }
              .cancle {
                background: #cf1726;
                &:hover {
                  background: #ea4957;
                }
              }
              .pay {
                background: var(--PrimaryColor);
                &:hover {
                  background: var(--SecondaryColor);
                }
              }
            }
          }
        }
      }
      .backhome {
        padding: 0.5rem;
        background: var(--whiteColor);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        justify-content: center;
        .backhomebtn {
          background: #75caf1;
          color: var(--PrimaryColor);
          border: none;
          display: block;
          right: 1.25rem;
          font-weight: 600;

          span {
            font-weight: bold;
          }

          &:hover,
          &:focus {
            background: var(--PrimaryColor);
            color: var(--whiteColor);
            border: 1px solid var(--gradientColor);
          }
        }
      }
    }
  }

  .payContent {
    width: 35rem;
    height: auto;
    background: var(--whiteColor);
    border: 1px solid #04aa6d;
    border-top-width: 5px;
    margin-inline: auto;
    .imgsucces {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 6rem;
        padding-top: 1rem;
      }
    }
    .content {
      text-align: center;
      padding: 1rem;
      .titlePay {
        font-size: 40px;
        font-weight: 600;
      }
    }
    .ticketInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .tripLabel {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .tripInfo {
          width: 45%;
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            padding-bottom: 0.5rem;
          }

          .rightInfo {
            text-align: center;
            border: 1px solid var(--greyText);
            padding: 0.5rem;
            width: 100%;
            border-radius: 0.5rem;
          }
        }
      }

      .tripInfo {
        width: 93%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          padding-bottom: 0.5rem;
        }

        .rightInfo {
          text-align: center;
          border: 1px solid var(--greyText);
          padding: 0.5rem;
          width: 100%;
          border-radius: 0.5rem;
        }
      }
      .detail {
        width: 100%;
        .tripInfo {
          width: 93%;
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            padding-bottom: 0.5rem;
          }

          .rightInfo {
            text-align: center;
            border: 1px solid var(--greyText);
            padding: 0.5rem;
            width: 100%;
            border-radius: 0.5rem;
          }
        }
      }

      .seatInfo {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        .rightInfo {
          background: rgb(220, 231, 71);
          span {
            font-weight: bolder;
            padding: 0.5rem;
          }
        }
      }
      .text {
        width: 90%;
        text-align: center;
        padding: 0.5rem;
      }
      .back {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        margin-inline: auto;
        justify-content: center;
        border-radius: 0.5rem;
        font-weight: 600;
        color: var(--whiteColor);
        background: var(--textColor);
        &:hover {
          background: #ea4957;
        }
        a {
          font-weight: 700;
        }
      }
    }
  }
}
