:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

body {
    background: var(--whiteColor);
}

.main {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--whiteColor);

    .infoContent{
        width: 100%;
        .secTitle{
            .title{
                position: relative;
                width: max-content;
                color: var(--textColor);
                margin: 1rem 0;
                z-index: 2;
                margin-inline: auto;
            }
        }
        .infoPassUser{
            width: 27rem;
            height: 22rem;
            border: 1px solid #1b2d363d;
            border-radius: .6rem;
            margin-inline: auto;
            padding: 1rem;
            .passInfo{
                span{
                    padding-left: .3rem;
                    color: var(--blackColor);
                    font-size: 15px;
                }
                
                .form-feild{
                    padding: .3rem 0 1rem;
                    position: relative;
                    height: 4.5rem;
    
                    .input{
                        
                        border: 1px solid var(--greyText);
                        border-radius: .4rem;
                        width: 100%;
                        height: 2.5rem;
                        padding: 0 20px;
                        transition: 0.25s ease;
                        outline-color: var(--PrimaryColor);
                    }
    
                    .icon{
                        position: absolute;
                        right: .5rem;
                        top: 20%;
                        font-size: 20px;
                    }
                }
            }
            .buttonSave{
                width: 100%;
                .save{
                    margin-top: 1rem;
                    margin-inline: auto;
                    justify-content: center;
                    font-weight: 600;
                    color: var(--whiteColor);
                    width: 100%;
                    border-radius: .4rem;
                }
                .disabled {
                    height: 2.2rem;
                    margin-top: 1rem;
                    margin-inline: auto;
                    justify-content: center;
                    font-weight: 600;
                    width: 100%;
                    border-radius: .4rem;
                    background-color: #ebebf0;
                    color: #c4c4cf;
                    border: 1px solid #dddde3;
                }
            }
            
        }
    }
    .toast-container {
        position: fixed;
        top: 50%; 
        right: 0; 
        transform: translateY(-50%); 
        z-index: 9999; 
    }
    
}