:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}
body{
    background: var(--whiteColor);
}


.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    font-family: Arial, sans-serif;

    .contact-info {
        flex: 1;
        margin-right: 20px;
    
        h2 {
            color: #e74c3c;
        }
    
        h3 {
            color: #333;
        }
    
        p {
            line-height: 1.5;
    
            a {
            color: #3498db;
            text-decoration: none;
            }
        }
    }

    .contact-form-container {
        flex: 1;
        padding: 20px;
        border-radius: .5rem;
        border: 1px solid var(--greyText);
        // background: var(--greyText);
    
        form {
            display: flex;
            flex-direction: column;
    
            .form-row {
            display: flex;
            justify-content: space-between;
    
            .form-group {
                flex: 1;
                &:first-child {
                margin-right: 10px;
                }
            }
            }
    
            .form-group {
            margin-bottom: 15px;
    
            label {
                margin-bottom: 5px;
                font-weight: bold;
            }
    
            input {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%;
                box-sizing: border-box;
                outline: var(--PrimaryColor);
            }
            textarea {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%;
                box-sizing: border-box;
                outline: var(--PrimaryColor);
                max-width: 500px;
            }
    
            .inputContact {
                height: 100%;
            }
            }
    
            button {
            padding: 10px 20px;
            background-color: #e74c3c;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
    
            &:hover {
                background-color: #c0392b;
            }
            }
        }
    }
    .toast-container {
        position: fixed;
        top: 50%; 
        right: 0; 
        transform: translateY(-50%); 
        z-index: 9999; 
    }
}


// MEDIA QUERIES ============================

@media screen and (min-width: 500px) {
    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width: 840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }
}