:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

body {
    background: var(--whiteColor);
}

.main {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--whiteColor);

    .searchTicket{
        padding-top: 3rem;

        .secTitle{
            .title{
                position: relative;
                width: max-content;
                color: var(--textColor);
                margin: 1rem 0;
                z-index: 2;
                margin-inline: auto;
            }
        }

        .infoTicket{
            width: 60%;
            margin-inline: auto;

            .infoT{
                height: 3.5rem;
                .form-feild{
                margin-top: 1.5rem;
                position: relative;

                .input{
                    border: 1px solid var(--greyText);
                    border-radius: 1rem;
                    width: 100%;
                    height: 3rem;
                    padding: 0 20px;
                    transition: 0.25s ease;
                    outline-color: var(--PrimaryColor);

                    &:not(:placeholder-shown) + .label, &:focus +  .label {
                        border-color: var(--PrimaryColor);
                        top: 0;
                        left: 1rem;
                        padding: 0 10px;
                        display: inline-block;
                        background-color: var(--whiteColor);
                        color: var(--PrimaryColor);
                        border-color: var(--PrimaryColor);
                        }

                    }

                .label{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 21px;
                    user-select: none;
                    color: var(--greyText);
                    pointer-events: none;
                    transition: .25s ease;
                }
            }
            }
            
            .search{
                font-weight: 600;
                color: var(--whiteColor);
            }
            button{
                display: block;
                margin-top: 1rem;
                margin-inline: auto;
                padding-inline: 4rem;

                &:hover{
                    color: var(--whiteColor);
                }
            }
        }
    }
    .modal1 {
        position: fixed;
        z-index: 1000; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); 
    
        .modal-dialog {
            margin: 5% auto;
            width: 40%; 
    
            .modal-content {
                background-color: #fefefe;
                padding: 20px;
                border: 1px solid #888;
                border-radius: 1rem;
    
                .modal-header, .modal-body, .modal-footer {
                    padding: 10px;
    
                    .modal-title {
                        margin: 0;
                        color: var(--textColor);
                        text-align: center;
                    }
    
                    .close {
                        float: right;
                        font-size: 1.2rem;
                        font-weight: bold;
                        &:hover, &:focus {
                            color: red;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
    
                .modal-body {
                    .infoTicket{
                        height: auto;
                        background: var(--whiteColor);
                        border: 1px solid #04aa6d;
                        border-top-width: 5px;
                        margin-inline: auto;
                        .content{
                            text-align: center;
                            padding: 1rem;
                            .titlePay{
                                font-size: 40px;
                                font-weight: 600;
                            }
                        }
                        .ticketInfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                        
                            .tripLabel {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                        
                                .tripInfo {
                                    width: 45%;
                                    margin: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                
                                    span{
                                        padding-bottom: .5rem;
                                    }
                        
                                    .rightInfo {
                                        text-align: center;
                                        border: 1px solid var(--greyText);
                                        padding: .5rem;
                                        width: 100%;
                                        border-radius: .5rem;
                                    }
                                }
                            }
                            
                            .tripInfo {
                                width: 93%;
                                margin: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                
                                span{
                                    padding-bottom: .5rem;
                                }
                    
                                .rightInfo {
                                    text-align: center;
                                    border: 1px solid var(--greyText);
                                    padding: .5rem;
                                    width: 100%;
                                    border-radius: .5rem;
                                }
                            }
                            
                            .seatInfo{
                                width: 90%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 1rem;
                                gap: 1rem;
                                .rightInfo{
                                    background: rgb(220, 231, 71);
                                    span{
                                        font-weight: bolder;
                                        padding: .5rem;
                                    }
                                }
                            }
                        }
                        
                    }
                    .listButton{
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        padding-top: 1rem;
                        .cancel{
                            background: #ef4444;
                            padding-inline: 1rem;
                            padding-top: .5rem;
                            padding-bottom: .5rem;
                            border-radius: .5rem;
                            color: white;
                            border: none;
                            cursor: pointer;
                        }
                        .save{
                            background: #3b82f6;
                            padding-inline: 1rem;
                            padding-top: .5rem;
                            padding-bottom: .5rem;
                            border-radius: .5rem;
                            color: white;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .toast-container {
        position: fixed;
        top: 50%; 
        right: 0; 
        transform: translateY(-50%); 
        z-index: 9999; 
    }
}
