.policyCenter {
  overflow: auto;
  width: 45.6rem;
  .policyItem {
    flex-direction: column;
    display: flex;
    .content {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-inline: 1rem;
      .itemContent {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-bottom: 0.5rem;
      }
      .listpolicy {
        flex-direction: column;
        width: 100%;
        display: flex;
        .listpolicyItem {
          font-size: 15px;
          ul {
            list-style-type: disc;
            margin: 0 1rem;
            li::marker {
              color: #a2abb3;
              width: 6px !important;
              height: 6px !important;
            }
            li {
              list-style: initial;

              ::marker {
                color: #a2abb3 !important;
                width: 6px !important;
                height: 6px !important;
              }
              p {
                font-size: 15px;
                margin-bottom: 0;
                font-weight: 500;
                position: relative;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}
.policyCenter::-webkit-scrollbar {
  width: 10px;
}

.policyCenter::-webkit-scrollbar-track {
  // background: #f1f1f1;
  background: var(--whiteColor);
}

.policyCenter::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.policyCenter::-webkit-scrollbar-thumb:hover {
  background: var(--SecondaryColor);
}
