:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    // color: rgba(255, 255, 255, 0.95);
    .dashboardContent{
        .main-title {
            display: flex;
            justify-content: space-between;
        }
        .main-cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            margin: 15px 0;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 8px 15px;
                border-radius: 5px;
                color: rgba(255, 255, 255, 0.95);
                &:first-child {
                    background-color: #2962ff;
                }
                &:nth-child(2) {
                    background-color: #ff6d00;
                }
                &:nth-child(3) {
                    background-color: #2e7d32;
                }
                &:nth-child(4) {
                    background-color: #d50000;
                }
                &:nth-child(5) {
                    background-color: #2e7d32;
                }
                &:nth-child(6) {
                    background-color: #d50000;
                }
                .card-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .card-inner > .card_icon {
                    font-size: 25px;
                }
            }
        }
        .charts {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
            margin-top: 60px;
            height: 300px;
            box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
        }
    }
    .toast-container {
        position: fixed;
        top: 50%; 
        right: 0; 
        transform: translateY(-50%); 
        z-index: 9999; 
    }
}